#headerbrand, .navbar-default .navbar-nav li a{
    color: #ffffff;
}

.container row {
    margin-top: 50px;
}

.error{
    color: red;
}

.form-group a, .form-group a:hover{
    text-decoration: none;
    color: white;
}

.footer-content {
    color: #ffffff;
}

.group{
    background: #D0D0D0;
    padding: 2px 0 2px 15px;
    font-size: 12px;
    border-radius: 5px
}

.navbar-default{
    background: linear-gradient(to right, blue , buttonface);
    font-family: arial;
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active a:hover{
    background-color:  #5bc0de;
}

.panel-info{
    height: auto;
}

.row{
    margin-top: -60px;
}

.img-responsive {
    height: 350px;
    width: 7350px;
}

a:hover {
    color: #0066ff;
}

a:focus {
    outline: none;
}

a.button { 
    background-color: #0066ff;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button:hover {
    background-color: #FF6D29;
}

/*article {
    margin-bottom: 20px;
}*/

aside{
    display: block;
}

footer{
    background: linear-gradient(to right, blue , buttonface);
}

header {
    padding: 2px 0 3px 0;
    background: url(http://pictbyphone.com/assets/img/selfie.jpg) no-repeat center ;
    height: 200px;
}

header h1 a, header h1 a:hover {
    color: black;
    text-decoration: none;
    font-size: 55px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height:45px;
}

header h1 span {
    color: #0066ff;
    font-family: Impact, Charcoal, sans-serif;
}

h3 {
    color: #000033;
}

p{
    margin-top: 10px;
    color: #000033;
}

section{
    border: 1;
    border-left: 3px linear-gradient(blue, buttonface) solid;
    padding: 5px 5px;
    min-height: 465px;
    margin-top: 50px;
}

section h3 a{
    margin-left: 594px;
    position: static;
    right: 0;
    text-align: right;
}

section h3 p{
    text-align: right;
}

span {
    
}